<!DOCTYPE html>
<html lang="en">
<head>
    <title>236347 - Final Project | Playground</title>
    <link rel="icon" href="../static/icon.svg" sizes="any" type="image/svg+xml"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/style/typography.css"/>
    <link rel="stylesheet" href="../static/style/theme.css"/>
    <link rel="stylesheet" href="../static/style/index.css"/>
    <link rel="stylesheet" href="../static/style/classes.css"/>
    <link rel="stylesheet" href="../static/style/app.css"/>
    <script src="../static/src/particles.min.js"></script>
    <script src="../static/src/particles.js" async></script>
    <meta charset="UTF-8"/>
</head>
<body>
<div id="particles-js"></div>
<main class="full-center">
    <section class="ez-flex">
        <h1 class="accent">500</h1>
        <h3>Oops! Something Went Wrong </h3>
        <p>The server encountered an error...</p>
        <div
                id="console"
                style="resize: none"
        >
            {{ error }}
        </div>
        <div class="button-group">
            <a href="/">
                <button type="button" class="bt" data-variant="accent">Go Back</button>
            </a>
        </div>
    </section>
</main>
</body>
</html>
